/*autocomplete*/

.autocomplete {
    display: inline-block;
}

.autocomplete .comboBox {
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    width: 200px;
    vertical-align: middle;
    color: #999;
    border: 1px solid #d4d4d4;
    background-color: #fff;
}

.autocomplete .comboBox:hover {
    border: 1px solid #a8a8b6;
}

.autocomplete .comboBox-inputWrap {
    width: 100%;
}

.autocomplete .comboBox-input {
    font-size: 16px;
    width: 100%;
    height: 30px;
    color: #999;
    border: 0 none;
    outline: 0 none;
    background-color: transparent;
}

.autocomplete .comboBox-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    outline: none;
}

.autocomplete .comboBox-btn-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 5px 5px 2.5px;
    border-style: solid;
    border-color: #999 transparent transparent;
}

.autocomplete .comboBox-btn:hover .comboBox-btn-arrow {
    border-top-color: #666;
}

.autocomplete .listMenu {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
    min-height: 30px;
    margin-top: -1px;
    color: #666;
    border: 1px solid #d4d4d4;
    border-top: 0 none;
    outline: none;
    background-color: #fff;
}

.autocomplete .listMenu-item {
    line-height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0 16px 0 4px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px solid #d4d4d4;
    outline: none;
}

.autocomplete .listMenu-item-hover {
    background-color: #a8a8b6;
}

.autocomplete .listMenu-item-active {
    background-color: #9c9c9d;
}

.autocomplete .listMenu-item-disabled {
    color: #adad92;
    background-color: #e3e3e4;
}

.autocomplete .comboBox-clear {
    position: absolute;
    top: 0;
    right: 16px;
    width: 16px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: #999;
    outline: none;
}

.autocomplete .comboBox-clear:hover {
    color: #d0021b;
}

.autocomplete .comboBox-clear-inner {
    font-size: 18px;
    line-height: 1;
    display: inline-block;
}

.autocomplete .comboBox-loading {
    position: absolute;
    top: 0;
    right: 16px;
    width: 16px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    color: #999;
    outline: none;
}

.autocomplete .comboBox-loading-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    -webkit-animation: autocomplete-animation-loading 400ms infinite linear;
    -o-animation: autocomplete-animation-loading 400ms infinite linear;
    animation: autocomplete-animation-loading 400ms infinite linear;
    vertical-align: middle;
    border: 2px solid #ccc;
    border-right-color: #333;
    border-radius: 50%;
}

.autocomplete.is-disabled {
    cursor: default;
    pointer-events: none;
    background-color: #f6f6f6;
}

.autocomplete.is-disabled .comboBox-btn {
    cursor: default;
    pointer-events: none;
}

.autocomplete.is-disabled .comboBox-clear {
    cursor: default;
    pointer-events: none;
}

@keyframes autocomplete-animation-loading {
    to {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes autocomplete-animation-loading {
    to {
        -webkit-transform: rotate(1turn);
    }
}
